*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: black;
}
h1{
    margin-top: 10px;
}
sub{
    font-size: 1rem;
}
.clock_border{
    height: 250px;
    width: 450px;
    border-radius: 16px;
 background: conic-gradient(
    from 0deg,
    blue,
    cyan,
    lime,
    yellow,
    orange,
    red,
    magenta,
    blue
  );    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    height: 240px;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: rgb(0, 0, 0);
}

.part2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.spot1{
    font-size: 2rem;
}
.part1{
    display: flex;
    height: 50%;
    align-items: center;
    font-size: 2rem;
    justify-content: space-around;
}
h5{
    display: none;
}
@media (max-width:460px) {
    .clock_border{
        height: 150px;
        width: 350px;
    }
    .clock{
        height: 140px;
        width: 340px;
    }
    .part1{
        font-size: 1.5rem;
    }
    .spot1{
        font-size: 1.5rem;
    }
}
@media (max-width:360px) {
    .clock_border{
        height: 100px;
        width: 250px;
    }
    .clock{
        height: 90px;
        width: 240px;
    }
    .part1{
        font-size: 1.1rem;
    }
    .spot1{
        font-size: 1.1rem;
    }
    h1{
        font-size: 2rem;
    }
    sub{
        display: none;
    }
    h5{
        display: block;
        padding:30px 30px;
        font-size: 1.2rem;
    }
}